@model AddPromotersVM
@{
    Layout = "~/Views/Shared/_Layout-admin.cshtml";
}


<div class="container">


    <div class="content-grid">
        <div class="text-center icon">
            <h3>Add Promoter</h3>
        </div>
        <div class="content-bottom">
            <form action="/company/CreatePromoter" method="post">
                <div class="field-group">
                    <input asp-for="@Model.CompanyId" type="hidden" value="@Model.CompanyId">
                    <div class="content-input-field">
                        <input asp-for="@Model.PromoterName" type="text" value="" placeholder="Promoter Name" required="">
                    </div>
                </div>

                <div class="field-group">
                    <div class="content-input-field">
                        <input asp-for="@Model.ContactNumber" type="text" placeholder="Contact Number">
                    </div>
                </div>

                <div class="field-group">
                    <div class="content-input-field">
                        <input asp-for="@Model.Address" type="text" placeholder="Address">
                    </div>
                </div>
                <div class="field-group">
                    <div class="content-input-field">
                        <input asp-for="@Model.EmailAddress" type="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="content-input-field">
                    <button type="submit" class="btn">Add</button>
                </div>
            </form>
        </div>
    </div>

    <h3>List of Promoters</h3>

    <taable id="demoTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td>Classroom</td>
            </tr>
        </thead>
    </taable>
</div>





@section scripts{


    <script type="text/javascript">
        var filterValues = {};
        $(document).ready(function () {
            var refDataTable = $("#demoTable").dataTable({
                serverSide: true,
                bFilter: false,
                columns: [
                    { data: "Name" },
                    { data: "SurName" },
                    { data: "ClassRoom" }
                ],
                ajax: function (data, callback, settings) {
                    filterValues.draw = data.draw;
                    filterValues.start = data.start;
                    filterValues.length = data.length;
                    $.ajax({
                        url: '/Company/Students',
                        method: 'GET',
                        data: filterValues
                    }).done(callback);
                }
            });
            $("#filterBtn").click(function () {
                filterValues.name = $("#filterName").val();
                filterValues.surname = $("#filterSurName").val();
                filterValues.classroom = $("#filterClassRoom").val();
                refDataTable.fnDraw();
            });
        });
    </script>
}

