@model CreateCompanyVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</div>
<section class="banner-bottom py-5">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-user-circle-o"></span>
            </div>
            <div class="content-bottom">
                <form action="/company/create" method="post">
                    <div class="field-group">

                        <div class="content-input-field">
                            <input asp-for="@Model.CompanyName" type="text" value="" placeholder="Company Name" required="">
                        </div>
                    </div>
                    <div class="field-group">

                        <div class="content-input-field">
                            <input asp-for="@Model.Address" type="text" value="" placeholder="Company Address" required="">
                        </div>
                    </div>
                    <div class="field-group">

                        <div class="content-input-field">
                            <input asp-for="@Model.UserName" type="text" value="" placeholder="Username" required="">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <input asp-for="@Model.Name" type="text" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <input asp-for="@Model.EmailId" type="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <input asp-for="@Model.Contact" type="text" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <select id="country" class="form-control" asp-for="@Model.CountryId" asp-items="@Model.CountryList"></select>
                        </div>
                    </div>
                     <div class="field-group">
                        <div class="content-input-field">
                            <select id="BussinessType" class="form-control" asp-for="@Model.BusinessTypeId" asp-items="@Model.BusinessTypeList"></select>
                        </div>
                    </div>
                    <div class="content-input-field">
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
                    <div class="list-login-bottom text-center mt-lg-5 mt-4">

                        <a href="#" class="">By clicking Signup, I agree to your terms</a>



                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="shipping-wthree">
    <div class="shiopping-grids d-lg-flex">
        <div class="col-lg-4 shiopping-w3pvt-gd text-center">
            <div class="icon-gd">
                <span class="fa fa-truck" aria-hidden="true"></span>
            </div>
            <div class="icon-gd-info">
                <h3>FREE SHIPPING</h3>
                <p>On all order over $2000</p>
            </div>
        </div>
        <div class="col-lg-4 shiopping-w3pvt-gd sec text-center">
            <div class="icon-gd"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
            <div class="icon-gd-info">
                <h3>FREE RETURN</h3>
                <p>On 1st exchange in 30 days</p>
            </div>
        </div>
        <div class="col-lg-4 shiopping-w3pvt-gd text-center">
            <div class="icon-gd"> <span class="fa fa-gift" aria-hidden="true"></span></div>
            <div class="icon-gd-info">
                <h3>MEMBER DISCOUNT</h3>
                <p>Register &amp; save up to $29%</p>
            </div>

        </div>
    </div>

</section>