<!--
Author:W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ShoppiMania </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Baggage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->

    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="main-sec inner-page">
        <!-- //header -->
        <header class="py-sm-3 pt-3 pb-2" id="home">
            <div class="container">
                <!-- nav -->
                <div class="">
                    <div id="logo">
                        <h1> <a href="/"><span class="log-w3pvt">S</span>hoppiMania</a> </h1>
                    </div>

                    <div class="forms ml-auto" id="signOutCompany">
                        <a href="/Company/Companylogin" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                        <a href="/Company/registerCompany" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
                    </div>
                    <div class="forms ml-auto" style="float: right" id="signInCompany">
                        <a href="" class="btn" id="dashboadrLink"><span class="fa fa-user-circle-o"></span> <span id="txtname">john</span></a><span style="color:white"><a id="logout" href="javascript:void(0);">logout</a></span>
                    </div>
                </div>
                <div class="nav-top-wthree">
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li> <a href="/company/Departments?companyId=@ViewBag.CompanyId">Departments</a></li>
                            <li> <a href="/company/Officers?companyId=@ViewBag.CompanyId">Officers</a>      </li>
                            <li> <a href="/company/Employees?companyId=@ViewBag.CompanyId">Employees</a>    </li>
                            <li> <a href="/company/Suppliers?companyId=@ViewBag.CompanyId">Suppliers</a>    </li>
                            <li> <a href="/company/Products?companyId=@ViewBag.CompanyId">Products</a>      </li>
                            <li> <a href="/company/Promoters?companyId=@ViewBag.CompanyId">Promoters</a>    </li>
                            <li> <a href="/company/Orders?companyId=@ViewBag.CompanyId">Orders</a>          </li>
                        </ul>
                    </nav>
                    <!-- //nav -->

                    <div class="clearfix"></div>
                </div>
            </div>
        </header>
        <!-- //header -->
    </div>
    @RenderBody()


    <div class="footer_agileinfo_topf py-5">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-lg-3 footer_wthree_gridf mt-lg-5">
                    <h2>
                        <a href="index.html">
                            <span>S</span>hoppiMania
                        </a>
                    </h2>
                    <label class="sub-des2">Online Store</label>
                </div>
                <div class="col-lg-6 footer_wthree_gridf mt-md-0 mt-4">
                    <ul class="footer_wthree_gridf_list">
                        <li>
                            <a href="/"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                        </li>
                        <li>
                            <a href="/account/login"><span class="fa fa-angle-right" aria-hidden="true"></span> Sign in</a>
                        </li>
                        <li>
                            <a href="shop.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Company Sign in</a>
                        </li>


                    </ul>
                </div>
                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                    <ul class="footer_wthree_gridf_list">
                        <li>
                            <a href="/"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                        </li>
                        <li>
                            <a href="/account/register"><span class="fa fa-angle-right" aria-hidden="true"></span> Sign up</a>
                        </li>
                        <li>
                            <a href="/company/RegisterCompany"><span class="fa fa-angle-right" aria-hidden="true"></span> Register Company</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="w3ls-fsocial-grid">
                <h3 class="sub-w3ls-headf">Follow Us</h3>
                <div class="social-ficons">
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                        <li><a href="#"><span class="fa fa-google"></span>Google</a></li>
                    </ul>
                </div>
            </div>
            <div class="move-top text-center mt-lg-4 mt-3">
                <a href="#home"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
    <div class="cpy-right text-center py-3">
        <p>
            © 2020 ShoppiMania. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>

    </div>
    <!-- copyright -->
    <style>
        a#logout {
            color: white;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.toaster.js"></script>

    <script>
    $(document).ready(function() {
        var toasterMessage = '@TempData["ToasterMessage"]';
        var toasterLevel = '@TempData["ToasterLevel"]';
        if (toasterMessage != '' && toasterMessage != undefined) {
            $.toaster({ priority: toasterLevel, title: 'Notice', message: toasterMessage });

        }
        var isLogin = '@TempData["isLogin"]';
        if (isLogin=="1") {
            localStorage.setItem("cid","@TempData["cid"]");
            localStorage.setItem("companyname","@TempData["companyname"]");
        }
        var companyname = localStorage.getItem("companyname");
        var cid = localStorage.getItem("cid");
        $("#dashboadrLink").attr("href", "/company/CompanyDashboard?companyid=" + cid);
        if (companyname != null && companyname != "") {
            $("#txtname").text(companyname);
            $("#signOutCompany").hide();
            $("#signInCompany").show();
        } else {
            $("#signInCompany").hide();
            $("#signOutCompany").show();
        }
        $("#logout").click(function () {
            localStorage.removeItem("companyname");
            localStorage.removeItem("cid");
            location.href = "/";
        });
    });
    </script>
    @*<script src="~/js/croppie.js"></script>
        <script src="~/js/profile-uploadPhotos.js"></script>
        <script src="~/js/exif.js"></script>*@
    @RenderSection("scripts", false)
</body>
<style>
    .main-sec.inner-page {
        min-height: 5em !important;
    }
</style>
</html>
