<!--
Author:W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ShoppiMania Ecommerce Category Bootstrap Responsive Web Template | Shop :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Baggage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">

    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
</head>

<body>
    <div class="main-sec inner-page">
        <!-- //header -->
        <header class="py-sm-3 pt-3 pb-2" id="home">
            <div class="container">
                <!-- nav -->
                <div class="top-w3pvt d-flex">
                    <div id="logo">
                        <h1> <a href="/"><span class="log-w3pvt">S</span>hoppiMania</a> <label class="sub-des">Online Store</label></h1>
                    </div>

                    <div class="forms ml-auto" id="signin">
                        <a href="/account/login" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                        <a href="/account/register" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
                    </div>
                    <div class="forms ml-auto" id="checkout">
                        <a href="#" class="btn"><span class="fa fa-user-circle-o"></span> <span id="txtname">john</span><span style="color:white"><a id="logout" href="javascript:void(0);">logout</a></span></a>
                        <a href="/home/checkout" class="btn"><span class="fa fa-cart-plus"></span> checkout(<span id="ccount"></span>)</a>
                    </div>
                </div>
                <div class="nav-top-wthree">
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">
                                    Products <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#">Products <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="#" class="drop-text">Services</a></li>
                                    <li><a href="#" class="drop-text">Features</a></li>
                                    <li><a href="#" class="drop-text">Single Page</a></li>

                                </ul>
                            </li>

                            <li class="active"><a href="#">Collections</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                    <div class="search-form ml-auto">
                        <div class="form-w3layouts-grid">
                            <form action="#" method="post" class="newsletter">
                                <input class="search" type="search" placeholder="Search here..." required="">
                                <button class="form-control btn" value=""><span class="fa fa-search"></span></button>

                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>
        <!-- //header -->
    </div>
    @RenderBody()
    <div class="footer_agileinfo_topf py-5">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-lg-3 footer_wthree_gridf mt-lg-5">
                    <h2>
                        <a href="index.html">
                            <span>S</span>hoppiMania
                        </a>
                    </h2>
                    <label class="sub-des2">Online Store</label>
                </div>
                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-4">
                    <ul class="footer_wthree_gridf_list">
                        <li>
                            <a href="index.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                        </li>
                        <li>
                            <a href="about.html"><span class="fa fa-angle-right" aria-hidden="true"></span> About</a>
                        </li>
                        <li>
                            <a href="shop.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop</a>
                        </li>
                        <li>
                            <a href="/company/CompanyLogin"><span class="fa fa-angle-right" aria-hidden="true"></span>Company</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                    <ul class="footer_wthree_gridf_list">
                        <li>
                            <a href="single.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Extra Page</a>
                        </li>

                        <li>
                            <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span> Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="single.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop Single</a>
                        </li>
                        <li>
                            <a href="contact.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                    <ul class="footer_wthree_gridf_list">
                        <li>
                            <a href="login.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Login </a>
                        </li>

                        <li>
                            <a href="register.html"><span class="fa fa-angle-right" aria-hidden="true"></span>Register</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span>Privacy & Policy</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="w3ls-fsocial-grid">
                <h3 class="sub-w3ls-headf">Follow Us</h3>
                <div class="social-ficons">
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                        <li><a href="#"><span class="fa fa-google"></span>Google</a></li>
                    </ul>
                </div>
            </div>
            <div class="move-top text-center mt-lg-4 mt-3">
                <a href="#home"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>
            © 2019 Baggage. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <style>
        a#logout {
            color: white;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $(document).ready(function() {
            var cartItems = JSON.parse(localStorage.getItem("cart"));
            if (cartItems != null) {
                $("#ccount").text(cartItems.length);

            } else {
                $("#ccount").text(0);

            }

            var isLogin = '@TempData["isLogin"]';
            if (isLogin=="1") {
                localStorage.setItem("uid","@TempData["uid"]");
                localStorage.setItem("uname","@TempData["uname"]");
            }
        var uname = localStorage.getItem("uname");
        if (uname != null && uname != "") {
            $("#txtname").text(uname);
            $("#signin").hide();
            $("#checkout").show();
        } else {
            $("#signin").show();
            $("#checkout").hide();
        }


        $("#logout").click(function() {
            localStorage.removeItem("uname");
            localStorage.removeItem("cart");
            localStorage.removeItem("uid");
            location.reload();
        });

       

        $(".addToCart").click(function () {
            var pid = $(this).val();
            var cart = JSON.parse(localStorage.getItem("cart"));
            if (cart != null) {

                var index = cart.indexOf(pid);
                if (index < 0) {
                    cart.push(pid);
                    localStorage.setItem("cart", JSON.stringify(cart));
                }
            } else {
                cart = [];
                cart.push(pid);
                localStorage.setItem("cart", JSON.stringify(cart));
            }
            location.reload();
        });

    });
    </script>
    @RenderSection("scripts", false)

</body>
</html>
