@using Newtonsoft.Json
<!--
Author:W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ShoppiMania </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Baggage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
  @*  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">

    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="main-sec inner-page">
        <!-- //header -->
        <header class="py-sm-3 pt-3 pb-2" id="home">
            <div class="container">
                <!-- nav -->
                <div class="top-w3pvt d-flex" style="    font-size: 20px !important;">
                    <div id="logo">
                        <h1> <a href="/"><span class="log-w3pvt">S</span>hoppiMania</a> <label class="sub-des">Online Store</label></h1>
                    </div>

                    <div class="forms ml-auto" id="signin">
                        <a href="/account/login" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                        <a href="/account/register" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
                    </div>
                    <div class="forms ml-auto" id="checkout">
                        <a href="" class="btn" id="dashboadrLink"><span class="fa fa-user-circle-o"></span> <span id="txtname">john</span></a><span style="color:white"><a id="logout" href="javascript:void(0);">logout</a></span>
                        <a href="/home/checkout" class="btn"><span class="fa fa-cart-plus"></span> checkout(<span id="ccount"></span>)</a>
                    </div>
                </div>
                <div class="nav-top-wthree">
                    <nav>
                        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                        <input type="checkbox" id="drop" />

                        <ul class="menu">
                            <li><a tabindex="1" href="/">Home</a></li>

                            @foreach (var menu in JsonConvert.DeserializeObject<CategoryVM>(ViewBag.menu).CategoryDetails)
                            {
                                int i = 1;
                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-@menu.Name" class="toggle">
                                        @menu.Name <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">@menu.Name <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-@menu.Name" />
                                    <ul>
                                        @foreach (var sub in menu.SubCategory)
                                        {
                                            <li><a href="/home/index?sid=@sub.Id" class="drop-text">@sub.Name</a></li>

                                        }

                                    </ul>
                                </li>

                            }


                            <li id="company-link"><a href="/company/companylogin">Company</a></li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                    <div class="search-form ml-auto">
                        <div class="form-w3layouts-grid" style="display: none" id="divSearch">
                            <form action="/home/index?page=@ViewBag.page" method="post" class="newsletter">
                                <input class="search" type="search" name="search" placeholder="Search here..." required="" value="@ViewBag.search">
                                <button class="form-control btn" value="" type="submit"><span class="fa fa-search"></span></button>

                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>
        <!-- //header -->
    </div>
    @RenderBody()

    <style>
        a#logout {
            color: white;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }

        nav ul ul ul li {
            position: relative;
            top: 0px;
            left: 0px;
            background-color: white;
            color: black;
        }
        #company-link{
            display: none;   
        }
        @@media (min-width: 801px){
            #company-link{
                display: inline-block !important;    
            }
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/jquery.toaster.js"></script>
    <script>
        $(document).ready(function () {
            var toasterMessage = '@TempData["ToasterMessage"]';
            var toasterLevel = '@TempData["ToasterLevel"]';
            if (toasterMessage != '' && toasterMessage!=undefined) {
                $.toaster({ priority: toasterLevel, title: 'Notice', message: toasterMessage});

            }
            var cartItems = JSON.parse(localStorage.getItem("cart"));
            if (cartItems != null) {
                $("#ccount").text(cartItems.length);

            } else {
                $("#ccount").text(0);

            }

            var isLogin = '@TempData["isLogin"]';
            if (isLogin=="1") {
                localStorage.setItem("uid","@TempData["uid"]");
                localStorage.setItem("uname","@TempData["uname"]");
            }
            var uname = localStorage.getItem("uname");
            var userid = localStorage.getItem("uid");
            $("#dashboadrLink").attr("href", "/customer/index?customerid=" + userid);
        if (uname != null && uname != "") {
            $("#txtname").text(uname);
            $("#signin").hide();
            $("#checkout").show();
        } else {
            $("#signin").show();
            $("#checkout").hide();
        }


        $("#logout").click(function() {
            localStorage.removeItem("uname");
            localStorage.removeItem("cart");
            localStorage.removeItem("uid");
            location.reload();
        });



        $(".addToCart").click(function () {
            var pid = $(this).val();
            var cart = JSON.parse(localStorage.getItem("cart"));
            if (cart != null) {

                var index = cart.indexOf(pid);
                if (index < 0) {
                    cart.push(pid);
                    localStorage.setItem("cart", JSON.stringify(cart));
                }
            } else {
                cart = [];
                cart.push(pid);
                localStorage.setItem("cart", JSON.stringify(cart));
            }
            location.reload();
        });

    });
    </script>
    @RenderSection("scripts", false)

</body>
</html>
