@using System.IO
@model GetProducts


<section class="banner-bottom py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h3 class="title-wthree mb-lg-5 mb-4 ">Shop Now</h3>

            </div>
            <div class="col-md-4">
                Sort
                <select class="form-control" id="ddlFilter">
                    <option value="Popular">Most Popular</option>
                    <option value="Frequent">Most Frequent</option>
                    <option value="Low">Low To High</option>
                    <option value="High">High To Low</option>
                </select>
            </div>
        </div>

        <!--/row-->
        <div class="row shop-wthree-info text-center">
            @if (Model.products.Count > 0)
            {
                @foreach (var product in Model.products)
                {
                    <div class="col-lg-3 shop-info-grid text-center mt-4">
                        <div class="product-shoe-info shoe">
                            <div class="men-thumb-item">
                                <img src="@(product.UploadPath)" class="img-fluid" alt="">

                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="/home/product?id=@product.ProductId">@product.ProductName</a>
                                </h4>

                                <div class="product_price">
                                    <div class="grid-price">
                                        <span class="money"><span class="line">$@product.Price</span> $@product.DiscountPrice</span>
                                    </div>
                                </div>
                                <ul class="stars">
                                    @if (product.Reviews != null)
                                    {
                                        @for (int i = 1; i <= (int)product.Reviews.Stars; i++)
                                        {
                                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                        }
                                        @for (int i = 1; i <= 5 - (int)product.Reviews.Stars; i++)
                                        {
                                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>

                                        }
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>

                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <img class="img-fluid" src="/images/no-pro.png" />
            }


        </div>

        <nav aria-label="Page navigation example mt-5">
            <ul class="pagination">
                @if (Model.page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@("/home/Index?page="+(Model.page-1))">Previous</a>
                    </li>
                }
                @for (int i = 1; i < (Model.total % 12 != 0 ? Model.total / 12 + 2 : Model.total / 12 + 1); i++)
                {
                    <li class="page-item">
                        <a class="page-link @(Model.page==i?"active":"")" href="@(Model.page==i?"javascript:void(0);":"/home/Index?page="+i)">@i</a>
                    </li>
                }
                @if (Model.total - Model.page * 12 > 0)
                {
                    <li class="page-item">
                        <a class="page-link" href="@("/home/Index?page="+(Model.page+1))">Next</a>
                    </li>
                }

            </ul>
        </nav>
    </div>
</section>
<style>
    a.page-link.active {
        background-color: #74d2e7;
        cursor: not-allowed !important;
    }
</style>



@section scripts{

    <script>
        $("#divSearch").show();

        $("#ddlFilter").change(function() {
            var value = $(this).val();
            location.href = "/home/index?page=@Model.page&search=@ViewBag.search&filter=" + value;
        });
        $(document).ready(function() {
            $("#ddlFilter").val('@ViewBag.filter');
        });
    </script>
}