@model AddProductVM
<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <!-- product right -->
        <div class="left-ads-display wthree">
            <div class="row">
                <div class="desc1-left col-md-6">
                    <img src="@Model.UploadPath" class="img-fluid" alt="">
                </div>
                <div class="desc1-right col-md-6 pl-lg-3">
                    <h1>@Model.ProductName</h1>
                    <h5>Rs. @Model.DiscountPrice <span>@Model.Price</span> </h5>
                    <div class="available mt-3">
                        <button class="btn submit addToCart" value="@Model.ProductId">Add to Cart</button>
                        <p>@Model.Description </p>
                    </div>
                </div>


            </div>
            <div class="row sub-para-w3pvt my-5">

                <h1 class="shop-sing">Average rating</h1>
                <br />
                <br />
                <ul class="stars">
                    @if (Model.Reviews != null)
                    {
                        @for (int i = 1; i <= (int)Model.Reviews.Stars; i++)
                        {
                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        }
                        @for (int i = 1; i <= 5 - (int)Model.Reviews.Stars; i++)
                        {
                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>

                        }
                    }
                    else
                    {
                        @for (int i = 0; i < 5; i++)
                        {
                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>

                        }
                    }

                </ul>


            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="well">
                <div class="list-group">
                    @if (Model.Reviews!=null)
                    {
                        @foreach (var comment in Model.Reviews.Comments)
                        {
                            <a href="#" class="list-group-item ">

                                <div class="col-md-12">
                                    <h4 class="list-group-item-heading">@(comment.ReviewDetail?.Length > 20 ? comment.ReviewDetail.Substring(0, 20) : comment.ReviewDetail) (@comment.CustomerName) </h4>
                                    <p class="list-group-item-text">
                                        @comment.ReviewDetail
                                    </p>
                                </div>
                            </a>
                        }
                    }
                   
                    <br/>
                    <span id="btnGiveRate" style="display: none"><button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-success float-right" style="">Give your rating</button></span>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="/Home/GiveRating">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Give rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="1" star="1" class="fa fa-star checked starCheck"></span>
                <span id="2" star="2" class="fa fa-star starCheck "></span>
                <span id="3" star="3" class="fa fa-star  starCheck"></span>
                <span id="4" star="4" class="fa fa-star starCheck"></span>
                <span id="5" star="5" class="fa fa-star starCheck"></span>
                <input type="hidden" id="GiventStar" name="givenStar" />
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <input type="hidden" name="userid" id="hdnuserid" value="" />


                <textarea class="form-control" rows="4" name="review"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<style>
    ul.stars li a span {
        font-size: 3.7em;
        color: yellow;
        margin: 0 0.2em;
    }

    .checked {
        color: orange;
    }
</style>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(".starCheck").click(function() {
            var val = $(this).attr("star");
            $(".starCheck").removeClass("checked");
            switch (val) {
            case "1":
                $("#1").addClass("checked");
                $("#GiventStar").val(1);
                break;
            case "2":
                $("#1").addClass("checked");
                $("#2").addClass("checked");
                $("#GiventStar").val(2);

                break;
            case "3":
                $("#1").addClass("checked");
                $("#2").addClass("checked");
                $("#3").addClass("checked");
                $("#GiventStar").val(3);

                break;
            case "4":
                $("#1").addClass("checked");
                $("#2").addClass("checked");
                $("#3").addClass("checked");
                $("#4").addClass("checked");
                $("#GiventStar").val(4);

                break;
            case "5":
                $("#1").addClass("checked");
                $("#2").addClass("checked");
                $("#3").addClass("checked");
                $("#4").addClass("checked");
                $("#5").addClass("checked");
                $("#GiventStar").val(5);

                break;
            }
        });

        $(document).ready(function() {
            var userid = localStorage.getItem("uid");
            if (userid != null && userid != "") {
                $("#btnGiveRate").show();
                $("#hdnuserid").val(userid);
            }

        })
    </script>
}
