@model AddProductVM
<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <!-- product right -->
        <div class="left-ads-display wthree">
            <div class="row">
                <div class="desc1-left col-md-6">
                    <img src="@Model.UploadPath" class="img-fluid" alt="">
                </div>
                <div class="desc1-right col-md-6 pl-lg-3">
                    <h1>@Model.ProductName</h1>
                    <h5>Rs. @Model.DiscountPrice <span>@Model.Price</span> </h5>
                    <div class="available mt-3">
                        <button class="btn submit addToCart" value="@Model.ProductId">Add to Cart</button>
                        <p>@Model.Description </p>
                    </div>
                </div>


            </div>


        </div>
    </div>
</section>